.container {
  display: flex;
  justify-content: center;
  margin: 36px auto;
}

.form {
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  padding: 0;
  text-indent: 16px;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: 1px solid #4e75ff;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}
